#items= render :partial => 'properties/items'

- content_for :header do
	Edit Type

- semantic_form_for @ptype do |f|

	- f.inputs do
		= f.input :ptype_name, :label => 'Type' 
		= f.input :description, :type => :text, :input_html => {:rows => 5, :cols => 40}, :required => false

	- f.buttons do
		= f.commit_button 'Update'

= link_to 'Back to all types', ptypes_path