<h1>Editing transport</h1>

<% form_for(@transport) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @transport %> |
<%= link_to 'Back', transports_path %>