- content_for :header do
	Edit Article

- semantic_form_for @article do |f|

	- f.inputs do
		= f.input :title
		= f.input :art_category, :label => 'Category'
	
	= simple_format(f.text_area :content, :class => "mceEditor")
	= f.buttons

%br/

= link_to 'Show', article_path(@article.id, :layout => @layout)
|
- if @layout
	= link_to 'All Articles', :controller => 'realestate', :action => 'show_articles'		
- else
	= link_to 'All Articles', articles_path