#items= render :partial => 'items'

- content_for :header do
	= @user.fname + " " + @user.lname

%p
	= image_tag @user.photo.url(:large)

%p 
	%b Type:
	=h @user.utype && @user.utype.usertype

%p
	%b First Name:
	=h @user.fname 

%p 
	%b Last Name:
	=h @user.lname 

%p 
	%b Mob Phone:
	=h @user.mobphone

%p 
	%b Work Phone:
	=h @user.workphone

%p 
	%b Email:
	=h @user.email

%p 
	%b Website:
	=h @user.website 

- if @user.utype && @user.utype.usertype == ("corporate" or "agent")
	%p
		%b Co title:
		=h @user.cotitle

- if @user.utype && @user.utype.usertype != ("broker" or "agent")
	%p 
		%b Broker:
		=h @user.broker_id
	
%br/

= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path