- content_for :header do
	All Districts

.roundedcorners
	%table
		%tr.tablehead
			%td City
			%td District
			%td Configure
		
		%tr.dark
			%td= link_to 'Add City', new_city_path
			%td= link_to 'Add District', new_district_path
			%td
		- @districts.each do |district| 
			%tr{:class => cycle('', 'dark')}
				%td
					- if district.city
						=h district.city.city_name 
				%td=h district.district_name 
				%td.visual
					%ul
						%li.pen= link_to '', edit_district_path(district) 
						%li.red-ex= link_to '', district, :confirm => 'Are you sure?', :method => :delete 
	
		%tr.dark
			%td= link_to 'Add City', new_city_path
			%td= link_to 'Add District', new_district_path
			%td
	.round-lt
	.round-lb
	.round-rt
	.round-rb
.apply