- content_for :header do
	Edit Region

- form_for(@region) do |f|

	.inp-text
		%table
			%tr
				%td= f.label :region_name
				%td= f.text_field :region_name
				%td
					- hidden_div_if(@region.errors[:region_name] == '', :class => 'error message') do
						= error_message_on(@region, :region_name)
			
			%tr
				%td
				%td
					= f.submit 'Update'
					= link_to 'Back', regions_path